/* front-blog.module.css */

.card {
  --card-padding: 20px;
  /* Définissez ici la valeur du padding souhaitée */

  padding: var(--card-padding);
  /* Utilisation de la variable pour le padding */
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}