

.card {
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}
.backGround{
  background-color: rgb(8, 52, 102);
}

.centeredElements {
  display: flex;
  align-items: center;
  justify-content: center;
}


