/* img {
  border-radius: 8px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
} */

body {
  background-image: url("http://localhost:3000/static/backGround.jpeg");
  background-size: cover;
  background-attachment: fixed;
}